<div class="create-lep">
    <div class="lep-key-wrapper">
        {{context.lepName}}<span *ngIf="context.hasResolver">$$</span>
        <mat-form-field class="full-width" *ngIf="context.hasResolver">
            <mat-label>Lep key</mat-label>
            <input type="text" [(ngModel)]="lepKey" (ngModelChange)="onUpdate()" #lepKeyInput matInput matInputAutofocus>
        </mat-form-field>
        <span *ngIf="context.isInterface">$$tenant</span>
        <span *ngIf="!context.isInterface">$$around</span>
        .groovy
    </div>
    <div>
        <mat-form-field appearance="fill" class="full-width tenant-select">
            <mat-label>Tenant</mat-label>
            <mat-select [(ngModel)]="tenant" (ngModelChange)="onUpdate()" #selectionModel="ngModel" class="full-width">
                <mat-option *ngFor="let tenant of context.tenants" [value]="tenant">{{tenant}}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</div>
