<div class="main">
    <div class="leftPanel">
        <div class="toolbar">
            <mat-card class="toolbarCard">
                <mat-card-content>
                    <button mat-raised-button class="toolbarButton" (click)="addEnv()">
                        +
                    </button>
                    <button mat-raised-button class="toolbarButton" (click)="removeEnv()" [disabled]="!environment">
                        -
                    </button>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="envList">
            <mat-selection-list [multiple]="false" (selectionChange)="onSelect($event)">
                <mat-list-option *ngFor="let env of envs" [value]="env" [selected]="environment?.id === env.id">
                    {{env.name}}
                </mat-list-option>
            </mat-selection-list>
        </div>
    </div>
    <div class="settingsPanel">
        <mat-card class="settingsPanelBody">
            <mat-card-content>
                <div *ngIf="environment" class="settingsBody">
                    <mat-form-field class="full-width">
                        <mat-label>Name</mat-label>
                        <input type="text" matInput [(ngModel)]="environment.name" (ngModelChange)="onUpdate()">
                    </mat-form-field>
                    <div style="display: flex;">
                        <mat-form-field class="full-width" *ngIf="!isConfigProject">
                            <mat-label>Path to config root</mat-label>
                            <input type="text" disabled="true" matInput [(ngModel)]="environment.basePath">
                        </mat-form-field>
                        <button mat-raised-button class="pathButton" (click)="changePath(environment)" *ngIf="!isConfigProject">
                            ...
                        </button>
                    </div>
                    <mat-form-field class="full-width" *ngIf="!isConfigProject">
                        <mat-chip-grid #chipGrid aria-label="Tenants list">
                            @for (tenant of environment.selectedTenants; track $index) {
                                <mat-chip-row (removed)="removeTenant(environment, tenantInput, tenant)">
                                    {{tenant}}
                                    <button matChipRemove>
                                        <mat-icon>cancel</mat-icon>
                                    </button>
                                </mat-chip-row>
                            }
                        </mat-chip-grid>
                        <input
                                name="tenantSearch"
                                placeholder="Enter tenant name"
                                #tenantInput
                                (input)="filterTenants(tenantInput.value)"
                                [matChipInputFor]="chipGrid"
                                [matAutocomplete]="auto"
                                [matChipInputSeparatorKeyCodes]="[enter]"
                                (matChipInputTokenEnd)="addTenant(environment, tenantInput, $event)"
                        />
                        <mat-autocomplete #auto="matAutocomplete" requireSelection="true" (optionSelected)="selectedTenant(tenantInput, $event)">
                            @for (tenant of filteredTenant; track tenant) {
                                <mat-option [value]="tenant">{{tenant}}</mat-option>
                            }
                        </mat-autocomplete>
                    </mat-form-field>
                    <mat-form-field class="full-width" *ngIf="!isConfigProject && features && features.length > 0">
                        <mat-chip-grid #chipGridFeatures aria-label="Features list">
                            @for (feature of environment.selectedFeatures; track $index) {
                                <mat-chip-row (removed)="removeFeature(environment, featureInput, feature)">
                                    {{feature.name}}/{{feature.version}}
                                    <button matChipRemove>
                                        <mat-icon>cancel</mat-icon>
                                    </button>
                                </mat-chip-row>
                            }
                        </mat-chip-grid>
                        <input
                                name="featureSearch"
                                placeholder="Enter feature name"
                                #featureInput
                                (input)="filterFeatures(featureInput.value)"
                                [matChipInputFor]="chipGridFeatures"
                                [matAutocomplete]="autoFeatures"
                        />
                        <mat-autocomplete #autoFeatures="matAutocomplete" requireSelection="true" (optionSelected)="selectedFeature(featureInput, $event)">
                            @for (feature of filteredFeature; track feature) {
                                <mat-option [value]="feature">{{feature.name}}/{{feature.version}}</mat-option>
                            }
                        </mat-autocomplete>
                    </mat-form-field>
                    <mat-form-field class="full-width">
                        <mat-label>Xm base url (example: http://xm-online.com)</mat-label>
                        <input type="text" matInput [(ngModel)]="environment.xmUrl" (ngModelChange)="onUpdate()">
                    </mat-form-field>
                    <mat-form-field class="full-width">
                        <mat-label>Super admin login</mat-label>
                        <input type="text" matInput [(ngModel)]="environment.xmSuperAdminLogin" (ngModelChange)="onUpdate()">
                    </mat-form-field>
                    <mat-form-field class="full-width">
                        <mat-label>Super admin password</mat-label>
                        <input type="text" matInput [(ngModel)]="environment.xmSuperAdminPassword" (ngModelChange)="onUpdate()">
                    </mat-form-field>

                    <div class="horizontalLayout">
                        <mat-form-field class="full-width">
                            <mat-label>Client id</mat-label>
                            <input type="text" matInput [(ngModel)]="environment.clientId" (ngModelChange)="onUpdate()">
                        </mat-form-field>
                        <span class="space"></span>
                        <mat-form-field class="full-width">
                            <mat-label>Client password</mat-label>
                            <input type="text" matInput [(ngModel)]="environment.clientPassword" (ngModelChange)="onUpdate()">
                        </mat-form-field>
                    </div>

                    <mat-form-field class="full-width">
                        <mat-label>Update mode</mat-label>
                        <mat-select [(ngModel)]="environment.updateMode" (ngModelChange)="onUpdate()">
                            <mat-option *ngFor="let mode of updateModes" [value]="mode">{{mode}}</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field class="full-width"  *ngIf="environment.updateMode === 'GIT_BRANCH_DIFFERENCE'">
                        <mat-label>Target branch name</mat-label>
                        <input #branchName
                               type="text"
                               placeholder="HEAD"
                               matInput
                               [(ngModel)]="environment.branchName" (ngModelChange)="onUpdate()"
                               [matAutocomplete]="branchAuto"
                               (input)="filterBranches(environment, branchName.value)"
                               (focus)="filterBranches(environment, branchName.value)">
                        <mat-autocomplete requireSelection="true" #branchAuto="matAutocomplete">
                            @for (option of filteredBranches; track option) {
                                <mat-option [value]="option">{{option}}</mat-option>
                            }
                        </mat-autocomplete>
                    </mat-form-field>

                    <div class="horizontalLayout">
                        <button mat-raised-button class="toolbarButton" (click)="testConnection()">
                            Test connection
                        </button>
                        <span class="result" *ngIf="connectionResult === true">
                            Success
                        </span>
                        <span class="result" *ngIf="connectionResult === false">
                            Failed
                        </span>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>
