@use '@angular/material' as mat;

// Core Material styles
@include mat.core();

// Define palettes
$primary-light: mat.m2-define-palette(mat.$m2-deep-purple-palette);
$accent-light: mat.m2-define-palette(mat.$m2-amber-palette, A200, A100, A400);

// Light theme
$light-theme: mat.m2-define-light-theme((
        color: (
                primary: $primary-light,
                accent: $accent-light,
        )
));

// Apply light theme
.light-theme {
  @include mat.all-component-themes($light-theme);

  a {
    color: #6C707E;
  }
}

//$primary-dark: mat.m2-define-palette(mat.$m2-light-green-palette, 800, 600, 900);
$primary-dark: mat.m2-define-palette(mat.$m2-grey-palette);
$accent-dark: mat.m2-define-palette(mat.$m2-grey-palette, 800, 900, A400);

// Dark theme
$dark-theme: mat.m2-define-dark-theme((
        color: (
                primary: $primary-dark,
                accent: $accent-dark,
        )
));

// Apply dark theme
.dark-theme {
  @include mat.all-component-themes($dark-theme);

  a {
    color: #CED0D6;
  }

  .mat-list-base .mat-list-item {
    background: #2D2F32;
    color: white;
    border-color: white;
    border-bottom-style: solid;
  }

  .mat-list-base .mat-list-item.mat-list-single-selected-option {
    background: #636363;
  }

  .envList {
    background: #2D2F32;
    color: white;
  }

  .toolbarCard {
    background-color: #2D2F32!important;
  }

  .mat-mdc-card {
    background-color: #2D2F32!important;
  }

  color: white;
  background-color: #2D2F32;
}

// Global Styles
h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}

h2, h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

body {
  margin: 2em;
}

body, input[type="text"], button {
  color: #333;
  font-family: Cambria, Georgia;
}

a {
  cursor: pointer;
}

button {
  font-family: Arial;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

button:disabled {
  background-color: #eee;
  color: #aaa;
  cursor: auto;
}

// Navigation link styles
nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-right: 10px;
  margin-top: 10px;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
}

nav a:visited, nav a:link {
  color: #607D8B;
}

nav a:hover {
  color: #039be5;
  background-color: #CFD8DC;
}

nav a.active {
  color: #039be5;
}

// Global reset
* {
  font-family: Arial, Helvetica, sans-serif;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mdc-list-item__end {
  display: none;
}

.mat-mdc-card-content:last-child {
  padding-bottom: 4px!important;
}
.mat-mdc-card-content:first-child {
   padding-top: 4px!important;
}


